<div class="fixed top-24 z-30 left-10 max-w-fit">
    <ul
      class="sticky top-0 pr-6 max-h-[85lvh] overflow-y-hidden hover:overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300"
      data-hs-scrollspy="#scrollspy-2"
      data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-2"
    >
      <h2 class="text-xl font-medium dark:text-white">Pages</h2>
      @for (page of formation.body; track $index) {
      <li data-hs-docs-scrollspy-group="">
        <button
          (click)="goToPage(page.id)"
          class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-primary-hover dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-primary hs-scrollspy-active:text-primary-hover dark:hs-scrollspy-active:text-blue-400 active"
        >
          {{ page.nom }}
        </button>
      </li>
      }
    </ul>
  </div>
  <div class="fixed top-24 z-30 right-10 max-w-fit">
    <ul
      class="sticky top-0 pr-6 max-h-[85lvh] overflow-y-hidden hover:overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300"
      data-hs-scrollspy="#scrollspy-2"
      data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-2"
    >
      <h2 class="text-xl font-medium dark:text-white">Chapitres</h2>
      @for (block of actualPage.contenu; track $index) {
      <li data-hs-docs-scrollspy-group="">
        <a
          href="{{ actualRoute() }}#item-{{ block.id }}"
          class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-primary-hover dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-primary hs-scrollspy-active:text-primary-hover dark:hs-scrollspy-active:text-blue-400 active"
        >
          {{ block.title }}</a
        >
      </li>
      }
    </ul>
  </div>
  <div id="scrollspy-scrollable-parent-2" class="ml-48 mt-6 mr-48 pl-14">
    <div class="flex justify-center">
      <h1 class="text-5xl font-semibold dark:text-white">
        {{ formation.titre }}
      </h1>
    </div>
    <div id="scrollspy-2" class="space-y-4 mb-16">
      <div id="item-{{ actualPage.id }}">
        <h2 class="text-2xl prose font-semibold dark:text-white">
          {{ actualPage.nom }}
        </h2>
        @for (block of actualPage.contenu; track $index) {
        <div id="item-{{ block.id }}">
          <h3 class="text-lg font-semibold dark:text-white prose my-5">
            {{ block.title }}
          </h3>
          @switch (block.contenu.type) {
            @case('markdown') {
              <markdown
              emoji
              katex
              mermaid
              ngPreserveWhitespaces
              class="variable-binding prose leading-none"
              [data]="block.contenu.text"
            ></markdown>
            }
            @case ('video') {
              <app-bloc-video-view [videoId]="block.contenu.text"></app-bloc-video-view>
            }
            }
        </div>
        }
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  