<!-- Card Blog -->
<div class="formationcard">
  <div
    class="group max-w-[40rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-7 mx-auto shadow-md border rounded-3xl bg-background hover:bg-background-1 hover:cursor-pointer"
    (click)="goToFormation()"
  >
    <!-- Card -->
    <a class="sm:flex rounded-xl font-sans">
      <div
        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]"
      >
        <img
          class="size-full absolute top-0 start-0 object-cover"
          [src]="imageHeader"
          alt="Image Description"
        />
      </div>
      <div class="grow">
        <div class="p-4 flex flex-col h-full sm:p-6">
          <div class="flex space-x-4">
            @for (tag of formationcard.tag; track $index) {
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium 
                {{
                  $index === 0
                    ? 'bg-primary-5 text-secondary'
                    : $index === 1
                    ? 'bg-accent text-secondary'
                    : $index === 2
                    ? 'bg-secondary text-black'
                    : 'bg-couleur2'
                }}
                   dark:bg-gray-800 dark:text-gray-200"
              >
                {{ tag.nom }}
              </p>
            </div>

            }@empty {
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-accent text-white dark:bg-gray-800 dark:text-gray-200"
              >
                {{ formationcard.tag?.[0]?.nom }}
              </p>
            </div>
            }
          </div>
          <h3
            class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-primary dark:text-gray-300 dark:group-hover:text-white"
          >
            {{ formationcard.titre }}
          </h3>
          <p class="mt-2 text-gray-600 dark:text-gray-400">
            {{ formationcard.description }}
          </p>

          <div class="mt-5 sm:mt-auto">
            <!-- Avatar -->
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img
                  class="size-[46px] rounded-full"
                  [src]="imageUser"
                  alt="Profile description"
                />
              </div>
              <div class="ms-2.5 sm:ms-4">
                <h4 class="font-semibold text-gray-800 dark:text-gray-200">
                  {{ formationcard.user?.prenom }} {{ formationcard.user?.nom }}
                </h4>
                <p class="text-xs text-gray-500">
                  {{ formationcard.date_creation }}
                </p>
              </div>
            </div>
            <!-- End Avatar -->
          </div>
        </div>
      </div>
    </a>
    <!-- End Card -->
  </div>
  <!-- End Card Blog -->
</div>
