<div class="flex justify-center my-8">
  <div
    cdkDropList
    class="flex flex-col w-[80rem]"
    (cdkDropListDropped)="drop($event)"
  >
    @for (block of page.contenu; track block) {
    <div
      class="relative bg-transparent hs-accordion-group"
      cdkDrag
      data-hs-accordion-always-open="true"
    >
      <div class="example-custom-placeholder mr-4" *cdkDragPlaceholder></div>
      <app-element-collapse-box
        [markdown]="block.contenu"
        [block]="block"
        (markdownHasChanged)="handleEventContentHasChanged($event, block.id)"
        (markdownHasFinishedToChange)="handleEventContentHasChanged($event, block.id, true)"
        (titleHasChanged)="handleEventTitleHasChanged($event, block.id)"
        (titleHasFinishedToChange)="handleEventTitleHasChanged($event, block.id, true)"
      >
      </app-element-collapse-box>
      <app-add-block
        (addBlockEvent)="handleEventAddBlock(block)"
        (addVideoBlockEvent)="handleEventAddVideoBlock(block)"
      ></app-add-block>
      <div class="top-6 right-4 absolute text-red-600">
        <mat-icon class="cursor-pointer" (click)="supprimer(block.id)">delete_forever</mat-icon>
    </div>
    </div>
    }
  </div>
</div>
