<div class="flex justify-center my-8">
    <div cdkDropList class="flex flex-col w-[50rem]" (cdkDropListDropped)="drop($event)">
        @for (title of titles; track title) {
        <div class="relative bg-transparent" cdkDrag>
            <div class="example-custom-placeholder mr-4" *cdkDragPlaceholder></div>
            <app-title1-section [title]="title.title" (titleHasChanged)="handleEventTitleHasChanged($event, title.id)"></app-title1-section>
            <div class="top-0 right-0 absolute">
                <mat-icon class="cursor-pointer" (click)="edit(title.title)">edit</mat-icon>
            </div>
            <app-add-block (addTitleEvent)="handleEventAddTitle(title)"></app-add-block>
        </div>
        }
    </div>
</div>