<div class="flex justify-center my-8">
  <div
    cdkDropList
    class="flex flex-col w-[50rem]"
    (cdkDropListDropped)="drop($event)"
  >
    @for (title of createFormationService.formation.body; track title) {
    <div class="relative bg-transparent" cdkDrag>
      <div class="example-custom-placeholder mr-4" *cdkDragPlaceholder></div>
      <div class="relative inline-flex justify-center items-center w-full">
        <app-title1-section
          [title]="title.nom"
          (titleHasChanged)="handleEventTitleHasChanged($event, title.id)"
          (titleHasFinishedToChange)="
            handleEventTitleHasChanged($event, title.id, true)
          "
          class="w-[95%]"
        ></app-title1-section>
        <div class="cursor-pointer text-red-600 absolute right-6 top-0"
          (click)="supprimer(title.id)">
          <mat-icon>delete_forever</mat-icon>
        </div>
        <div
          [hidden]="requestPending"
          class="absolute right-[3.75rem] p-[0.6rem]"
        >
          <div class="relative">
            <button
              (click)="generatePageContentWithAi(title.id, title.nom)"
              class="w-9 h-9 flex justify-center items-center text-sm font-semibold rounded-full bg-secondary hover:bg-secondary-hover disabled:opacity-50 disabled:pointer-events-none"
            >
              <svg
                width="1rem"
                height="1rem"
                viewBox="0 0 64 64"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--emojione"
                preserveAspectRatio="xMidYMid meet"
              >
                <path
                  d="M22 0c0 16.9-9.1 32-22 32c12.9 0 22 15.1 22 32c0-16.9 9.1-32 22-32c-12.9 0-22-15.1-22-32"
                  fill="#A63A50"
                ></path>
                <path
                  d="M53 0c0 8.4-4.6 16-11 16c6.4 0 11 7.6 11 16c0-8.4 4.6-16 11-16c-6.4 0-11-7.6-11-16"
                  fill="#A63A50"
                ></path>
                <path
                  d="M48 32c0 8.4-4.6 16-11 16c6.4 0 11 7.6 11 16c0-8.4 4.6-16 11-16c-6.4 0-11-7.6-11-16"
                  fill="#A63A50"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div [hidden]="!requestPending" class="absolute right-16 p-2">
          <button
            class="w-9 h-9 flex justify-center items-center text-sm font-semibold rounded-full bg-secondary hover:bg-secondary-hover disabled:opacity-50 disabled:pointer-events-none"
          >
            <div
              class="animate-spin p-[0.4rem] flex justify-center items-center w-2 h-2 border-4 border-current border-t-transparent text-accent rounded-full"
              role="status"
              aria-label="loading"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </div>

      <app-add-block
        (addTitleEvent)="handleEventAddTitle(title)"
      ></app-add-block>
    </div>
    }
  </div>
</div>
