<div id="scrollspy-scrollable-parent-2" class="ml-48 mt-6 mr-48 pl-14">
    <div class="flex justify-center">
      <h1 class="text-5xl font-semibold dark:text-white">
        {{ formationTitle }}
      </h1>
    </div>
    <div id="scrollspy-2" class="space-y-4 mb-16">
      <div id="item-{{ actualPage.id }}">
        <h2 class="text-2xl prose font-semibold dark:text-white">
          {{ actualPage.nom }}
        </h2>
        @for (block of actualPage.contenu; track $index) {
        <div id="item-{{ block.id }}">
          <h3 class="text-lg font-semibold dark:text-white prose my-5">
            {{ block.title }}
          </h3>
          <markdown
            emoji
            katex
            mermaid
            ngPreserveWhitespaces
            class="variable-binding prose leading-none"
            [data]="block.contenu.text"
          ></markdown>
        </div>
        }
      </div>
    </div>
    <app-footer></app-footer>
  </div>
