<div class="card relative border shadow-sm m-1 rounded-xl w-[34rem] min-h-32">
    <p-carousel [value]="blockProposals" [numVisible]="1" [numScroll]="1" [circular]="true">
        <ng-template let-blockProposal pTemplate="item">
            <div class="p-2 relative min-h-32 h-full">
                @switch (blockProposal.type) {
                @case('markdown') {
                <markdown emoji katex mermaid ngPreserveWhitespaces class="variable-binding prose leading-none"
                    [data]="blockProposal.text"></markdown>
                }
                @case ('video') {
                <app-bloc-video-view [width]="'464'" [height]="'261'"
                    [videoId]="blockProposal.text"></app-bloc-video-view>
                }
                }
                <div class="absolute bottom-2 right-[44%] scale-125" (click)="acceptBlockProposal(blockProposal)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                        class="bg-green-800  fill-green-400 hover:fill-green-500 rounded-full hover:cursor-pointer">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
                    </svg>
                </div>
                <div class="absolute bottom-2 left-[44%] scale-125" (click)="rejectBlockProposal(blockProposal)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                        class="bg-red-800  fill-red-400 hover:fill-red-500 rounded-full hover:cursor-pointer">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z" />
                    </svg>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>