<div class="flex gap-5">
    <div class="space-y-3">
        <input type="text" [(ngModel)]="videoUrl"
            class="py-3 px-4 block w-[20rem] border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Paste your youtube video url">
    </div>
    <button type="button" (click)="submitVideo()"
        class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
        Submit
    </button>
</div>