<div class="fixed top-28 z-30 left-10 max-w-fit">
  <app-summary-page [pages]="getFormationPagesTitles()"
    (pageHasChanged)="handleEventPageTitleHasChanged($event)"></app-summary-page>
</div>

<div class="flex justify-center my-8">
  <div class="flex flex-col max-w-[65rem] w-[80vw] justify-center">
    <h1 class="text-5xl font-semibold dark:text-white pb-6 text-center">
      {{ fomrationMergeProposals.titre }}
    </h1>
    <h2 class="text-3xl font-semibold dark:text-white mb-5">
      {{ actualPage.nom }}
    </h2>
    @for (blockPorposals of actualPage.contenu; track $index) {
    <div class="relative bg-transparent">
      <app-collapse-edit-proposals [blockProposals]="blockPorposals" id="item-{{blockPorposals.id}}"></app-collapse-edit-proposals>
    </div>
    }
  </div>
</div>

<app-summary-block [setActualPage]="getActualPageWithOutProposals()"></app-summary-block>