<div class="flex justify-center my-8">
  <div
    cdkDropList
    class="flex flex-col w-[50rem] hs-accordion-group"
    (cdkDropListDropped)="drop($event)"
  >
    @for (block of blocks; track block) {
    <div class="relative bg-transparent" cdkDrag>
      <div class="example-custom-placeholder mr-4" *cdkDragPlaceholder></div>
      <app-element-collapse-box
        [markdown]="block.contenu"
        (markdownHasChanged)="handleEventContentHasChanged($event, block.id)"
      >
      </app-element-collapse-box>
      <app-add-block
        (addBlockEvent)="handleEventAddBlock(block)"
      ></app-add-block>
    </div>
    }
  </div>
</div>
