<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Card -->
  <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
    <div class="mb-8">
      <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
        Profile
      </h2>
      <p class="text-sm text-gray-600 dark:text-gray-400">
        Manage your name, password and account settings.
      </p>
    </div>

    <!-- Grid -->
    <div class="mb-3 grid sm:grid-cols-12 gap-2 sm:gap-6">
      <div class="sm:col-span-3">
        <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
          Profile photo
        </label>
      </div>
      <!-- End Col -->

      <div class="sm:col-span-9">
        <div class="flex items-center gap-5">
          <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-gray-800" [src]="userService.currentUser.imageUrl" alt="Profile image">
          <div class="flex gap-x-2">
            <div>
              <input type="file" class="file-input hidden"
                      [accept]="requiredFileType"
                      (change)="onFileSelected($event)" #fileUpload>
              <button type="button" (click)="fileUpload.click()" 
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                Upload photo
              </button>
              <button type="button" (click)="onFileRemoved()"
              class="ml-2 py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                <svg class="flex-shrink-0 size-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"/><path d="M16 6a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2"/><path d="M10 3L21 3"/></svg>
                Remove photo
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Profile photo -->
      <div class="sm:col-span-12 border-t border border-gray-200 dark:border-gray-700"></div>

    </div>
      
    <form [formGroup]="fieldProfileForm" (ngSubmit)="onSubmitField()">
      <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
      
        <div class="sm:col-span-3">
          <label for="af-account-full-name" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
            Full name
          </label>
        </div>
        <!-- End Col -->

        <div class="sm:col-span-9">
          <div class="sm:flex">
            <input formControlName="firstName" id="af-account-full-name" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="firstname">
            <input formControlName="lastName" type="text" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="lastname">
          </div>
        </div>
        <!-- End Col -->

        <div class="sm:col-span-3">
          <label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
            Email
          </label>
        </div>
        <!-- End Col -->

        <div class="sm:col-span-9">
          <input formControlName="email" id="af-account-email" type="email" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm text-sm rounded-lg focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="maria@site.com">
        </div>
        <!-- End Col -->

        <div class="sm:col-span-3">
          <label for="af-account-description" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
            Description
          </label>
        </div>
        <!-- End Col -->

        <div class="sm:col-span-9">
          <textarea formControlName="description" id="af-account-description" class="py-2 px-3 block w-full border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" rows="6" placeholder="Type your message..."></textarea>
        </div>
        <!-- End Profile fields -->

      </div>
      <!-- End Grid -->

      <div class="mt-5 flex justify-end gap-x-2">
        <button type="button"  routerLink="/profile" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          Cancel
        </button>
        <button type="submit" [disabled]="!fieldProfileForm.valid" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent  text-white bg-accent hover:bg-accent-9 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          Save changes
        </button>
      </div>
    </form>

    <form [formGroup]="passwordProfileForm" (ngSubmit)="onSubmitPassword()">
    <!-- Grid -->
      <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
        
        <div class="mt-3 sm:col-span-12 border-t border border-gray-200 dark:border-gray-700"></div>

        <div class="sm:col-span-3">
          <label for="af-account-password" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
            Password
          </label>
        </div>
        <!-- End Col -->

        <div class="sm:col-span-9">
          <div class="space-y-2">
            <input formControlName="oldPassword" id="af-account-password" type="password" 
            class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" 
            placeholder="Enter current password" aria-describedby="old-password-error">
            <p class="text-xs text-red-600 mt-2" id="old-password-error"
              [hidden]="passwordProfileForm.controls.oldPassword.valid || passwordProfileForm.controls.newPassword.pristine">
              old password is required
            </p>
            <input formControlName="newPassword" type="password" 
            class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" 
            placeholder="Enter new password" aria-describedby="new-password-error">
            <p class="text-xs text-red-600 mt-2" id="new-password-error"
              [hidden]="passwordProfileForm.controls.newPassword.valid || passwordProfileForm.controls.newPassword.pristine">
              8+ characters, special characters, and numbers required
            </p>
            <input formControlName="confirmPassword" type="password" 
            class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" 
            placeholder="Confirm new password" aria-describedby="confirm-password-error">
            <p class="text-xs text-red-600 mt-2" id="confirm-password-error"
            [hidden]="passwordProfileForm.controls.confirmPassword.valid || passwordProfileForm.controls.confirmPassword.pristine">
              passwords do not match
            </p>
          </div>
        </div>
        <!-- End Password fields -->

      </div>
      <!-- End Grid -->

      <div class="mt-5 flex justify-end gap-x-2">
        <button type="button"  routerLink="/profile" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          Cancel
        </button>
        <button type="submit" [disabled]="!passwordProfileForm.valid" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent  text-white bg-accent hover:bg-accent-9 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          Save changes
        </button>
      </div>

    </form>
  </div>
  <!-- End Card -->
</div>
<!-- End Card Section -->